@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap');

.App {
  font-family: sans-serif;
}

body {
  font-family: var(--saria);
  background: linear-gradient(#851835, #851835, #000000, #000000);
  color: white;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}